<section class="hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Spider's LAB" %></h1>
  <p>Elixirs, Gold, Antiviruses, Hacks, Games ...</p>
</section>
<section>
  <article>
    <header>
      <h2>Laboratory</h2>
    </header>
    <footer>
      <a href="" class="read-more">Read More</a>
    </footer>
  </article>
</section>
